// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


main {
    background-image: url('storage/athletes/home-card-sfondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 55px);
}

.arnold {
    height: 100vh;
    object-fit: cover;
}

.hero-card {
    height: calc(100vh - 55px);
}

.glass-effect {
    background: rgba(249, 241, 241, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

.navbar {
    background-color: #202020 !important;

    a {
        color: white;
    }

}